<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BootstrapGPT</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/ChatGPT.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="fixed-top container-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-between">
            <div class="d-flex">
              <img
                class="mb-2 me-2"
                src="{{ url_for('static', filename='images/ChatGPT.png') }}"
                alt=""
                width="30px"
              />
              <h3 class="mb-0 logo" style="color: var(--secondary-color)">
                <a href="{{ url_for('index') }}">BootstrapGPT</a>
              </h3>
            </div>
            <h3 class="username mb-0">Welcome, {{ user_name }}!</h3>
          </div>
          <div class="col-md-6 doc-btn">
            <div>
              <h5 class="mb-0 me-4">
                <a
                  href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
                  target="_blank"
                  >Bootstrap Docs</a
                >
              </h5>
            </div>
            <div class="d-flex">
              <button
                class="btn btn-primary me-2"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Generate PDF"
                id="pdfBtn"
              >
                <i class="bi bi-upload"></i>
              </button>
              <button
                class="btn btn-primary me-2"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Delete Chat"
                id="deleteBtn"
              >
                <i class="bi bi-trash"></i>
              </button>
              <button
                class="btn btn-primary"
                id="logoutBtn"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Logout"
              >
                <i class="bi bi-box-arrow-right"></i>
              </button>
            </div>
          </div>
          <!-- <div class="col-md-3 d-flex justify-content-end align-items-center">
            
          </div> -->
        </div>
      </div>
    </div>

    <!-- Response Container -->
    <div class="container container-response mt-5 mb-5">
      <div class="scrollable-content" id="scrollable-content">
        {% for conversation in conversation_history %}
        <div id="user-prompt">
          <p class="p1">You:</p>
          <p class="p2">{{ conversation.question }}</p>
        </div>
        <div id="response-display">
          <p class="p1">GPT:</p>
          <p class="p2 p2_response">{{ conversation.answer }}</p>
          <!-- <p class="p3"><i class="bi bi-play-circle"></i></p> -->
        </div>
        {% endfor %}
        <!-- <div id="user-prompt"></div>
        <div id="response-display">
          <p class="p1">GPT:</p>
          <p class="p2">Hello</p>
          <p class="p3"><i class="bi bi-play-circle"></i></p>
        </div> -->
      </div>
    </div>

    <!-- Prompt Container -->
    <div class="fixed-bottom container-prompt">
      <div class="input-group">
        <input
          type="text"
          class="form-control mx-2"
          id="inputField"
          placeholder="Ask me something related to bootstrap..."
        />
        <div class="input-group-append">
          <!-- <button
            class="btn btn-outline-secondary"
            id="microphoneButton"
            >
            onclick="startListening()"
            🎤
          </button> -->
          <button class="btn btn-outline-secondary" id="sendButton">➤</button>
        </div>
      </div>
      <footer>
        <div class="row">
          <div
            class="col-md-12 m-1 d-flex justify-content-center align-items-center"
          >
            <p class="credit">
              Designed and Developed with
              <i class="bi bi-heart-fill" style="color: #c51104"></i> by
              <b>Mir Sufyan Ali</b>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
